extends layout

block title 
  title SpaceWars

block styles
  link(rel='stylesheet', href='/stylesheets/gameView.css')
  
block imports
  script(src='/libraries/p5.js')
  script(src='/libraries/p5.dom.js')
  script(src='/libraries/p5.sound.js')
  script(src='/libraries/socket.io-client.js')
  script(src='/scripts/game.js')

block content
  #canvasContainer
 