doctype html

html 
  head
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    block styles

    block title
      title Default title
    block imports 

  body
    .header
      h1 SpaceWars
      ul.nav
        if !loggedIn
          li 
            a(href="/login") Login
          li 
            a(href="/register") Register
        else
          li= username
        li 
          a(href="/leaderboard") LeaderBoard

    block content

    .footer
