doctype html

html 
  head
  
    link(rel='stylesheet', href='/stylesheets/header.css')
    block styles

    block title
      title Default title
    block imports 

  body
    .header
      h1 Header title
      p Home | About | Game

    block content

    .footer
