extends game

block title 
  title SpaceWars

block append imports
  script(src='/libraries/socket.io-client.js')
  script(src="/scripts/spacewars/drawing.js")
  script(src="/scripts/spacewars/game.js")