extends ./layout

block styles
  link(rel='stylesheet', href='/stylesheets/gameView.css')

block imports
  script(src='/libraries/p5.js')
  script(src='/libraries/p5.dom.js')
  script(src='/libraries/p5.sound.js')
  script(src='/scripts/postScore.js')

block canvasContent
  #canvasContainer