html 
  head
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/layout.css')
    //link(rel='stylesheet', href='/stylesheets/header.css')
    block styles

    block title
      title Default title
    
    script(src="https://kit.fontawesome.com/bf7b8edb6e.js", crossorigin="anonymous")
    script(src="/libraries/jquery.slim.min.js")
    script(src="/libraries/popper.min.js")
    script(src="/libraries/bootstrap.min.js")
    block imports 

  body
    
    .box
      .row.header 
        include ../includes/header

      .row.content
        block content
        block canvasContent

      .row.footer
    


