extends ../templates/game

block title
  title Rubiks Cube

block append imports
  script(src='/scripts/rubiks/rubiks.js')
  script(src='/scripts/rubiks/cube.js')
  script(src='/scripts/rubiks/cell.js')
  script(src='/scripts/rubiks/coord.js')
  script(src='/scripts/rubiks/ui.js')

